.cookie-preview{
  padding-bottom: 30px;

  .header{
    padding: 8px 12px;
    background: #eee;
    font-size: 14px;
  }

  .row{
    padding: 4px 12px 4px 20px;
    font-size: 12px;

    .row{
      padding-left: 20px;
    }

    label{
      color: #2196f3;
    }

    span{
      padding: 0 0 0 6px;
      color: #e91e63;
    }

    &:hover{
      background: #fadeff;
    }
  }

  .empty{
    padding: 20px;
    color: #999;
    font-size: 13px;
  }
}