.toggle-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  cursor: pointer;

  i{
    font-size: 16px;
  }

  i.right{
    transform: rotate(180deg);
  }
}