.custom-response-input{
  padding: 12px 0;
  user-select: none;

  .row.header-item{
    .pooy-input{
      margin-right: 6px;
    }
  }

  .row{
    margin: 10px 0;

    label{
      display: inline-block;
      width: 70px;
      height: 32px;
      line-height: 32px;
      text-align: right;
      margin-right: 7px;
      vertical-align: top;
    }
  }
}