.row-item{
  margin: 12px 0;
  display: flex;

  & > .row-name{
    width: 70px;
    margin-right: 8px;
    height: 32px;
    line-height: 32px;
    text-align: right;
    flex: 0 0 70px;
  }

  & > .row-content{
    .radio-group-wrapper{
      display: block;
    }
  }
}