.image-preview{
  text-align: center;

  & > .img{
    display: inline-block;
    margin: 20px 0;
    max-width: 90%;
    box-shadow: 0 0 8px #bbb;
    background: url('../../assets/img-bg.png');
    font-size: 0;
    background-size: 16px;

    img{
      width: 100%;
    }
  }

  & > p{
    margin: 8px 0;
    color: #999;
    font-size: 12px;
  }

  & > p span{
    color: #444;
    margin-right: 6px;
    font-weight: 600;
  }
}