.type-picker{
  margin: 18px -8px;
  user-select: none;

  .type-item{
    display: inline-block;
    margin: 4px 8px;
    padding: 0 16px;
    height: 32px;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 32px;
    border-radius: 8px;
    background: #d8d8d8;
    cursor: pointer;
    vertical-align: middle;

    &.actived{
      color: #fff;
      background: rgba(84,26,99,0.68);
    }
  }
}