.response-preview-wrapper{
  .code-preview{
    height: calc(100vh-52px);
  }

  .media-preview{
    padding: 20px 0;
    text-align: center;

    video{
      max-width: 90%;
      box-shadow: 0 0 8px #bbb;
    }
  }
}

.pending-body{
  padding: 12px;
  color: #666;
  font-size: 12px;
  line-height: 1.8;
}