.header-picker{
  margin: -8px 0;

  & > .item{
    margin: 8px -6px;

    .pooy-input{
      margin: 0 6px;
    }

    .pooy-icon{
      margin: 0 10px;
      font-size: 12px;
      cursor: pointer;
    }
  }
}